# Ignore frontend files for language stats
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.md linguist-detectable=false

# Force Python to be recognized as main language
*.py linguist-language=Python
